@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-here{
    font-family: 'Zen Dots', cursive;
    color: #C0C3D8;
  }
  .hero{
    background: linear-gradient(#373636,#1E1E1E, #1E1E1E);
    
  }
  .fly{
    border-bottom-width: 0.1rem;
    border-color: #d6d9ee;
  }
  .outer{
    background-image: url("./assets/Component 14.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}