@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-zen{
    font-family: 'Zen Dots', cursive;
    color: #C0C3D8;
  }
  .hero{
    background: linear-gradient(#000122,#000212, #000212);
    
  }
  .fly{
    border-bottom-width: 0.1rem;
    border-color: #808082;
  }
  .text-satoshi{
    font-family: 'Satoshi', sans-serif;
    
  }
  .text-g{
    font-size: 64px;
    font-weight: 900;
  }
  .still{
    background-image: linear-gradient(to right , #D9DCF1, #D9DCF11C );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .leading-20{
    line-height: 4rem;
  }
  .text-relieve{
    color:#777A98;
  }
  .border-1{
    border-width: 1px;
  }
  .outer{
    background-image: url("./assets/Fly.png");
    background-size: auto;
  }
}